<div class="navbar fixed-bottom foot">
    <footer>
        <div class="container-fluid">
            <p id="foot">
                Copyright &copy; <span><%= year %></span> by <small>Trygve</small>
            </p>
        </div>
    </footer>
</div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>