<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Dosis&family=Michroma&family=Montserrat&family=New+Tegomin&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title><%= title %></title>
</head>

<body>
    <nav class="navbar fixed-top head">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/images/LarsA/hode_retusjert1_hvit.webp" alt="Logo" class="d-inline-block align-text-top">
                IELA <small>1.0</small>
            </a>
            <nav class="nav">
                <ul class="nav links">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/register" class="nav-link">Register</a>
                    </li>
                    <li class="nav-item">
                        <a href="/login" class="nav-link">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="/users" class="nav-link">Users</a>
                    </li>
                    <li class="nav-item">
                        <a href="/about" class="nav-link">About</a>
                    </li>
                </ul>
            </nav>

        </div>
    </nav>
    <div class="container main">
        <div class="heading">
            <h1 class="title"><%= title %></h1>
        </div>