<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Dosis&family=Michroma&family=Montserrat&family=New+Tegomin&family=Oleo+Script&family=Quicksand&display=swap"
    rel="stylesheet">
  <title>Travel Goals</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/shared.css">

  <!- link rel="stylesheet" href="style.css" ->
</head>

<body>
  <header id="container">
    <div id="page-logo">
      <a href="/index2.html">Travel Goals</a>
    </div>
    <nav>
      <ul>
        <li>Destinations</li>
        <li>About</li>
      </ul>
    </nav>
  </header>
  <main>
    <section id="hero">
      <div id="hero-content">
        <h1>Trygve's Travel Page</h1>
        <p>Let's explore the world together!</p>
        <a href="./places.ejs">Discover Places</a>
      </div>

    </section>
    <section id="highlights">
      <h2>Highlights</h2>
      <ul id="destinations">
        <li class="destination">
          <img src="/images/places/miami.jpg" alt="Miami streets">
          <p>Miami <strong>USA</strong></p>
        </li>
        <li class="destination">
          <img src="/images/places/barcelona.jpg" alt="Barcelona">
          <p>Barcelona <strong>SPAIN</strong></p>
        </li>
        <li class="destination">
          <img src="/images/places/munich.jpg" alt="Munich">
          <p>Munich <strong>GERMANY</strong></p>
        </li>
      </ul>
    </section>
  </main>
  <footer></footer>

</body>

</html>