<%- include('./layouts/header') -%>


<div class="container form-logo">
  <div class="row">
    <div class="col-6">
      <div class="form">
        <form action="/login" method="post">
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" name="email">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password">
          </div>
          <button type="submit" class="btn btn-success">Login</button>
        </form>
      </div>
    </div>
    <div class="col-6">
      <div class="imglogo">
        <img src="../images/LarsA/hode_hvit.png" class="img-fluid" alt="logo">
      </div>
    </div>
  </div>
</div>
</div>


<%- include('./layouts/footer') -%>